/* Imports */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css'); /* Icons */
@font-face { /* Sunflower */
    font-family: 'Sunflower';
    src: url('./fonts/made-sunflower.woff') format('woff'),
        url('./fonts/made-sunflower.woff2') format('woff2');
}

/* Theme controls */
/* Default */
:root {
    /* Colors */
    --color-background: rgba(228,228,228,1);
    --color-background-gradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: #000;
    /* Greeting */
    --text-title: "Jack Graddon";
    --text-subtitle: "Freelance Developer";
}

/* Morning theme: 5am to 9am */
:root body[data-jg-theme^="morning"] {
    /* Colors */
    --color-background: rgba(196,77,37,1);
    --color-background-gradient: linear-gradient(0deg, rgba(70,1,107,1) 0%, rgba(196,77,37,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Morning!";
    --text-subtitle: "It's going to be a great day.";
}

/* Afternoon theme: 9am to 6pm */
:root body[data-jg-theme^="afternoon"] {
    /* Colors */
    --color-background: #aecfdb;
    --color-background-gradient: linear-gradient(0deg, rgba(6,123,187,1) 0%, rgba(174,207,219,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Afternoon!";
    --text-subtitle: "What a beautiful day it is.";
}

/* Evening theme: 6pm to 10pm */
:root body[data-jg-theme^="evening"] {
    /* Colors */
    --color-background: rgba(184,214,228,1);
    --color-background-gradient: linear-gradient(0deg, rgba(255,177,177,1) 0%, rgba(226,218,187,1) 25%, rgba(184,214,228,1) 40%, rgba(42,108,161,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Evening!";
    --text-subtitle: "Don't miss the sunset tonight.";
}

/* Night theme: 10pm to 5am */
:root body[data-jg-theme="night"] {
    /* Colors */
    --color-background: rgba(51,0,79,1);
    --color-background-gradient: linear-gradient(0deg, rgba(19,0,29,1) 0%, rgba(51,0,79,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Night!";
    --text-subtitle: "Rest well and wake up refreshed.";
}

/* Dark theme: when overridden by browser */
:root body[data-jg-theme$="-dark"] {
    /* Colors */
    --color-background: #000;
    --intensity-background-gradient: 0.5;
    /* Greeting */
    --text-title: "Relaxing Shade";
    --text-subtitle: "Enjoy the cool, dark shade."
}

/* Variables */
:root {
    --break-mobile: 480px;
    --break-tablet: 768px;
    --break-laptop: 1024px;
    --break-desktop: 1280px;
    /* Colors */
}

/* Control theme background */
background {
    /* Background Colors */
    background-image: var(--color-background-gradient);
    opacity: var(--intensity-background-gradient);
    /* Size and Position */
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: 0ms;
}

/* Scroll Button */
.scroll {
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0, white 10%, rgba(255, 255, 255, 0.5) 20%);
    background-position: 0;
    background-clip: text;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: smaller;
    white-space: nowrap;
  }
  #scrollDown,
  #scrollDown *,
  #scrollToTop,
  #scrollToTop * {
    color: white;
    text-decoration: none !important;
  }
  @keyframes shine {
    from {
      background-position: 0%;
    }
    to {
      background-position: 77px;
    }
  }

/* Control theme splash */
.splash {
    /* Sizing */
    width: 100vw;
    height: 60vh;
    margin: 0;
}
@media screen and (max-width: 768px) { /* Tablet breakpoint */
    .splash {
        /* Sizing */
        height: 100vh;
    }
    
}

.splash .splash-title {
    /* Text */
    text-align: center;
    /* Size and Position */
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}
.splash .splash-title *{
    /* Spacing */
    margin: 0;
    padding: 0;
}
.splash .splash-title h1::after {
    /* Text */
    font-family: 'Sunflower', serif;
    font-size: 4rem;
}
.splash-title#first-load h1::after {
    /* Text */
    content: var(--text-title);
}
.splash-title#second-load h1::after {
    /* Text */
    content: "Jack Graddon";
}

.splash .splash-title p::after {
    /* Text */
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}
.splash-title#first-load p::after {
    /* Text */
    content: var(--text-subtitle);
}
.splash-title#second-load p::after {
    /* Text */
    content: "Freelance Developer";
}

.splash-transition {
    /* Sizing */
    width: 100vw;
    height: fit-content;
    margin: 0;
    /* View */
    overflow: hidden;
}
@media screen and (max-width: 480px) { /* Mobile breakpoint */
    .splash-transition {
        opacity: 0;
    }
}

/* General Styles */
body {
    /* Colors */
    background: var(--color-background);

    /* Text */
    color: var(--color-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Size */
    width: 100vw;
    height: fit-content;
    margin: 0rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    /* Text */
    font-family: 'Sunflower', serif;
    font-weight: bold;
    /* Size */
    margin: 0;
}
h1 {
    /* Text */
    font-size: 3rem;
}
#title {
    /* Text */
    font-size: 4rem;
}
h2 {
    /* Text */
    font-size: 2.5rem;
}
h3 {
    /* Text */
    font-size: 2rem;
}
h4 {
    /* Text */
    font-size: 1.5rem;
}
h5 {
    /* Text */
    font-size: 1.25rem;
}
h6 {
    /* Text */
    font-size: 1rem;
}
p {
    margin-top: 0;
}
#subtitle {
    /* Text */
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

/* Common Elements */
/* Buttons */
a.btn {
    /* Sizing */
    padding: 0.4rem;
    border: 0.3rem solid;
    border-radius: 7pt;
    /* width: max-content;
    height: fit-content; */
    /* Text */
    text-align: center;
    text-decoration: none;
    /* View */
    transition: 200ms ease-out;
    background-color: #faf9f9;
    color: #1b1b1b;
    cursor: pointer;
}
a.btn:hover,
a.btn:focus {
  scale: 1.1;
  background-color: #faf9f9 !important;
}
a.btn:active {
  scale: 0.95;
}
a.btn.disabled {
  opacity: 0.8;
  background-color: #faf9f9;
}
a.btn.btn-secondary {
  background-color: var(--secondary);
  color: var(--secondary);
}

/* Main */
main {
    /* Sizing */
    max-width: var(--break-desktop);
    width: 80vw;
    height: fit-content;
    margin: auto;
    padding: 0 0 1rem 0;
    /* View */
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
@media screen and (max-width: 480px) { /* Mobile breakpoint */
    main {
        /* Sizing */
        width: 95vw;
        margin: 0, 2.5vw;
    }
}

.main-section {
    /* Sizing */
    width: 100%;
    /* height: 50vh; */
    margin: 0 0 2rem 0;
    padding: 0;
    /* Display */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/* Try to use GSAP to have some sort of "sticky" effect when scrolling so each section stays on screen for a bit before the next one transitions in */

/* Images */
img {
    /* Sizing */
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 7pt;
    overflow-clip-margin: content-box;
    overflow: clip;
}
div.portrait {
    min-width: 40vw;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1.5 !important;
}
div.portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.portrait#portrait-about img {
    object-position: top;
}

/* Generic Flex Containers */
div.flex {
    /* Display */
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

@media screen and (max-width: 768px) { /* Tablet breakpoint */
    div.flex {
        flex-flow: column;
    }
}

/* Cards */

/* Project Deck */
.project-deck {
    /* Sizing */
    width: 100%;
    /* Display */
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}
.project-tile {
    /* Sizing */
    flex-grow: 1;
    flex-basis: 32%;
    min-width: 300px;
    max-height: 480px;
    border-radius: 7pt;
    aspect-ratio: 1.6;
    /* View */
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    /* Display */
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: flex-start;
}

.project-tile>a.btn {
    margin: 0.5rem;
}


/* Modals */
body.modal-open {
    /* View */
    overflow: hidden !important;
}

.modal {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* View */
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 300ms ease;
    /* Display */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.modal .modal-content {
    /* Sizing */
    width: 80vw;
    height: 70vh;
    position: relative;
}
.modal-header button.btn-close {
    /* Sizing */
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    right: -3rem;
    /* View */
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-radius: 50%;
    /* Text */
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}
button.btn-close::after {
    display: inline-block;
    content: "\00d7";
}
.modal-header button.btn-fullscreen {
    /* Sizing */
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 3rem;
    right: -3rem;
    /* View */
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-radius: 50%;
    /* Text */
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
button.btn-fullscreen::after {
    display: inline-block;
    content: "\26f6";
}
.modal-body {
    /* Sizing */
    width: 100%;
    height: 100%;
    /* View */
    border-radius: 7pt;
    overflow: hidden;
}

/* Scroll To ___ Button */
.scroll {
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0, white 10%, rgba(255, 255, 255, 0.5) 20%);
    background-position: 0;
    background-clip: text;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: smaller;
    white-space: nowrap;
}
#scrollDown,
#scrollDown *,
#scrollToTop,
#scrollToTop * {
    color: white;
    text-decoration: none !important;
}
@keyframes shine {
    from {
    background-position: 0%;
    }
    to {
    background-position: 77px;
    }
}



/* Footer */
footer {
    /* Sizing */
    width: fit-content;
    height: fit-content;
    margin: 1rem auto;
    padding: 0;
    /* Display */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
footer .footer-causes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
footer .footer-causes a {
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0 0.5rem;
}
footer .footer-causes a:hover {
    scale: 1.15;
}

footer ul.nav {
    /* Sizing */
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    /* Display */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer ul.nav li {
    /* Sizing */
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul.nav li>a {
    /* Text */
    color: rgba(255,255,255,0.75) !important;
    text-decoration: none;
    cursor: pointer;
    /* View */
    transition: 150ms ease;
    /* Sizing */
    border-radius: 7pt;
    padding: 0.35rem;
    margin: 0 0.15rem;
}
footer ul.nav li:hover a{
    /* Text */
    color: rgba(255,255,255,1) !important;
    /* Sizing */
    background-color: rgba(255,255,255,0.25);
}