/* Imports */
@font-face {
    font-family: 'Sunflower';
    src: url('./fonts/made-sunflower.woff') format('woff'),
        url('./fonts/made-sunflower.woff2') format('woff2');
}

/* Theme controls */
/* Default */
:root {
    /* Colors */
    --color-background: #fff;
    --color-background-gradient: linear-gradient(180deg, #fff 0%, #e1e1e1 100%);
    --intensity-background-gradient: 1;
    --color-text: #000;
    /* Greeting */
    --text-title: "Jack Graddon";
    --text-subtitle: "Freelance Developer";
}

/* Morning theme: 5am to 9am */
:root body[data-jg-theme^="morning"] {
    /* Colors */
    --color-background: rgba(51,0,79,1);
    --color-background-gradient: linear-gradient(180deg, rgba(51,0,79,1) 0%, rgba(177,72,38,1) 100%); 
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Morning!";
    --text-subtitle: "It's going to be a great day.";
}

/* Afternoon theme: 9am to 6pm */
:root body[data-jg-theme^="afternoon"] {
    /* Colors */
    --color-background: rgba(6,123,187,1);
    --color-background-gradient: linear-gradient(180deg, rgba(6,123,187,1) 0%, rgba(174,207,219,1) 100%); 
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Afternoon!";
    --text-subtitle: "What a beautiful day it is.";
}

/* Evening theme: 6pm to 10pm */
:root body[data-jg-theme^="evening"] {
    /* Colors */
    --color-background: #fff;
    --color-background-gradient: linear-gradient(0deg, rgba(255,177,177,1) 0%, rgba(226,218,187,1) 25%, rgba(184,214,228,1) 40%, rgba(42,108,161,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Evening!";
    --text-subtitle: "Don't miss the sunset tonight.";
}

/* Night theme: 10pm to 5am */
:root body[data-jg-theme="night"] {
    /* Colors */
    --color-background: #fff;
    --color-background-gradient: linear-gradient(180deg, rgba(19,0,29,1) 0%, rgba(51,0,79,1) 100%);
    --intensity-background-gradient: 1;
    --color-text: rgba(255,255,255,1);
    /* Greeting */
    --text-title: "Good Night!";
    --text-subtitle: "Rest well and wake up refreshed.";
}

/* Dark theme: when overridden by browser */
:root body[data-jg-theme$="-dark"] {
    /* Colors */
    --color-background: #000;
    --intensity-background-gradient: 0.5;
    /* Greeting */
    --text-title: "Relaxing Shade";
    --text-subtitle: "Enjoy the cool, dark shade."
}

/* Control theme background */
background {
    /* Background Colors */
    background-image: var(--color-background-gradient);
    opacity: var(--intensity-background-gradient);
    /* Size and Position */
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Control theme splash */
.splash {
    width: 100vw;
    height: 60vh;
}

.splash .splash-title {
    /* Text */
    text-align: center;
    /* Size and Position */
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.splash .splash-title *{
    /* Spacing */
    margin: 0;
    padding: 0;
}
.splash .splash-title h1::after {
    /* Text */
    font-family: 'Sunflower', serif;
    font-size: 4rem;
}
.splash-title#first-load h1::after {
    /* Text */
    content: var(--text-title);
}
.splash-title#second-load h1::after {
    /* Text */
    content: "Jack Graddon";
}

.splash .splash-title p::after {
    /* Text */
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}
.splash-title#first-load p::after {
    /* Text */
    content: var(--text-subtitle);
}
.splash-title#second-load p::after {
    /* Text */
    content: "Freelance Developer";
}

body {
    /* Colors */
    background: var(--color-background);

    /* Text */
    color: var(--color-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Remove after dev */
    height: 100vh;
    width: 100vw;
}

/* Main */
main {
    /* Spacing */
    margin: 0 auto;
    padding: 0 2vw;
    max-width: 1000px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sunflower', serif;
}

/* Cards */

/* Project Deck */
.project-deck {
    /* Sizing */
    width: 100%;
    /* Display */
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1rem;
}

.project-tile {
    /* Sizing */
    width: 100%;
    border-radius: 7pt;
    /* View */
    overflow: hidden;
}
.project-tile>img {
    /* Sizing */
    width: 100%;
    /* View */
    object-fit: cover;
}