# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# IDE / Misc
.DS_Store
.vscode
.continue
.history

# Local development files
.env
.env.*
!.env.example
server.key
server.crt
auth.json
mise.toml
