/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sunflower', serif;
    font-weight: 700;
    line-height: 1.4;
}

p,
a,
li {
    font-size: 1.2rem;
    line-height: 1.3;
}