/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Body Styles */
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

.fit-short {
    max-width: var(--breakpoint-sm);
    margin: 0 auto;
}

.fit-wide {
    max-width: var(--breakpoint-md);
    margin: 0 auto;
}

.fit-fill {
    width: 100vw;
    margin: 0;
}

main {
    max-width: var(--breakpoint-lg);
    margin-inline: auto;
    padding: 2rem 1rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sunflower', serif;
    font-weight: 700;
    line-height: 1.4;
}

p,
a,
li {
    font-size: 1.2rem;
    line-height: 1.3;
}