@import '@/styles/reset.sass'
@import '@/styles/typography.sass'

// breakpoints
$mobile-width: 480px
$tablet-width: 768px
$desktop-width: 1100px

// colors
// solid
$color-white: #ffffff
$color-black: #000000
$color-morning: #c44d25
$color-afternoon: #aecfdb
$color-evening: #b8d6e4
$color-night: #33004f
$color-primary: #175e84

// gradient
$gradient-morning: linear-gradient(0deg, #46016b 0%, #c44d25 100%)
$gradient-afternoon: linear-gradient(0deg, #067bbb 0%, #aecfdb 100%)
$gradient-evening: linear-gradient(0deg, #ffb1b1 0%, #e2dabb 25%, #b8d6e4 40%, #2a6ca1 100%)
$gradient-night: linear-gradient(0deg, rgba(19, 0, 29, 1) 0%, rgba(51, 0, 79, 1) 100%)

body
  margin: 0
  place-items: center
  justify-content: center
  min-height: 100vh
  color: $color-white
  user-select: none

[class^="background-"]
  width: 100vw
  height: 100vh
  z-index: -999
  position: fixed
  top: 0
  left: 0

  &.background-morning
    background: $gradient-morning

  &.background-afternoon
    background: $gradient-afternoon

  &.background-evening
    background: $gradient-evening

  &.background-night
    background: $gradient-night

main
  margin: 0 auto
  max-width: $desktop-width
  display: flex
  flex-direction: column
  align-items: center
  gap: 2rem
  padding: 0 3vw

section
  height: fit-content
  width: 100%
  display: flex
  flex-grow: 1
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 0.5em

a
  color: $color-white
  transition: 150ms ease

  &:hover
    color: $color-primary

  &.btn
    display: block
    width: fit-content
    margin: 0.4rem 0 0 0
    padding: 0.4rem 0.8rem
    border: 0.3rem solid
    border-radius: 7pt
    text-align: center
    text-decoration: none
    background-color: $color-white
    color: $color-primary
    cursor: pointer
    &:hover
      background-color: #d8d8d8
    &.disabled
      opacity: 0.8
      background-color: #faf9f9
    //&.btn-secondary
    //  background-color: $color-secondary
    //  color: $color-secondary

img
  width: 100%
  height: auto
  overflow: hidden
  border-radius: 7pt
  overflow-clip-margin: content-box
  overflow: clip

// Scroll Button
.scroll
  color: white
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0, white 10%, rgba(255, 255, 255, 0.5) 20%)
  background-position: 0
  background-clip: text
  background-color: rgba(255, 255, 255, 0.5)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation: shine 3s infinite linear
  animation-fill-mode: forwards
  -webkit-text-size-adjust: none
  font-weight: 600
  font-size: smaller
  white-space: nowrap

#scrollDown,
#scrollDown *,
#scrollToTop,
#scrollToTop *
  color: white
  text-decoration: none !important

@keyframes shine
    from
      background-position: 0
    to
      background-position: 77px