.root
  display: flex
  flex-direction: column
  row-gap: 0.5em
  padding-top: 2em
  padding-bottom: 2em


// Splash
.splash
  width: 100vw
  text-align: center
  height: 100vh
  position: relative


.splashTitle
  text-align: center
  align-content: end

  transform: translate(-50%, -50%)
  position: fixed
  left: 50%
  top: 35%


.splashCloud
  width: 100vw
  max-width: 100%
  margin: 30vh 0 0
  height: auto


.title
  text-align: center

  @media only screen and (max-width: $mobile-width)
    font-size: 3rem
  
  line-height: 1.4
  font-family: 'Sunflower', Georgia, 'Times New Roman', Times, serif
  font-style: normal
  font-variant: normal
  font-weight: normal
  font-stretch: normal