@import './reset.css';
@import './typography.css';

:root {
    /* breakpoints */
    --mobile-width: 480px;
    --tablet-width: 768px;
    --desktop-width: 1100px;

    /* colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-morning: #c44d25;
    --color-afternoon: #aecfdb;
    --color-evening: #b8d6e4;
    --color-night: #33004f;
    --color-primary: #175e84;

    /* gradients */
    --gradient-morning: linear-gradient(0deg, #46016b 0%, #c44d25 100%);
    --gradient-afternoon: linear-gradient(0deg, #067bbb 0%, #aecfdb 100%);
    --gradient-evening: linear-gradient(0deg, #ffb1b1 0%, #e2dabb 25%, #b8d6e4 40%, #2a6ca1 100%);
    --gradient-night: linear-gradient(0deg, rgba(19, 0, 29, 1) 0%, rgba(51, 0, 79, 1) 100%);
}

body {
    margin: 0;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-white);
    background-color: var(--color-primary);
}

[class^="background-"] {
    width: 100vw;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
}

[class^="background-"].background-morning {
    background: var(--gradient-morning);
}

[class^="background-"].background-afternoon {
    background: var(--gradient-afternoon);
}

[class^="background-"].background-evening {
    background: var(--gradient-evening);
}

[class^="background-"].background-night {
    background: var(--gradient-night);
}

main {
    margin: 0 auto;
    max-width: var(--desktop-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 3vw;
}

section {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: var(--color-white);
    transition: 150ms ease;
    font-weight: 500;
}

a:hover {
    color: var(--color-primary);
}

a.btn {
    display: block;
    width: fit-content;
    margin: 0.4rem 0 0 0;
    padding: 0.4rem 0.8rem;
    border: 0.3rem solid;
    border-radius: 7pt;
    text-align: center;
    text-decoration: none;
    user-select: none;
    background-color: var(--color-white);
    color: var(--color-primary);
    cursor: pointer;
}

a.btn:hover {
    background-color: #d8d8d8;
}

a.btn.disabled {
    opacity: 0.8;
    background-color: #faf9f9;
}

.btnGroup {
    display: flex;
    gap: 0.5rem;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 7pt;
    overflow-clip-margin: content-box;
    overflow: clip;
    user-select: none;
}